.dialog {
    display: none;
    position: fixed;
    background-color: inherit;
    padding: 14px;
    border: 1px solid #999;
    border-top: none;
    border-radius: 0 0 6px 6px;
}
#dialogBackground {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.label {
    width: 90px;
    display: inline-block;
}
.dialog-input {
    width: 230px;
}
.dialog select {
    width: 238px;
}
.cmds {
    margin-top: 12px;
    text-align: right;
}
.dialog-header {
    font-size: 20px;
    text-align: center;
    padding-bottom: 6px;
}
#trim-controls {
    text-align: right;
}
#trim-title-1,
#trim-title-2,
#trim-title-1-2 {
    cursor: default;
    visibility: hidden;
}
.btn-container {
    /*text-align: right;*/
    /*margin: 14px 0 0 0;*/
}
.dialog-form > div {
    margin-bottom: 16px;
}
