body {
    background-color: #fff;
    color: #333;
}
body.dark {
    background-color: #222;
    color: #ccc;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options-container {
    padding: 16px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 92px;
    height: 100%;
    margin-top: auto;
    font-size: 92px;
}
.header2 {
    max-height: 22px;
    height: 100%;
    margin-top: auto;
    font-size: 22px;
}
.subheader {
    margin-right: 24px;
}
.vert-spacer {
    height: 20px;
}
.top-menu {
    display: flex;
    height: 60px;
    padding: 6px 36px 6px 6px;
    width: calc(100% - 42px);
}
.hspacer {
    flex: 1 1 auto;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.search-form {
    display: flex;
    flex-direction: column;
    height: 110px;
    /*padding-top: 100px;*/
}
.search-form input {
    font-size: 16px;
}
.dark .search-term-container,
.dark .search-term-container input {
    color: #eee;
    background-color: #111;
}
.dark a {
    color: #eee;
}
.search-term-container input {
    border: none;
}
.search-term-container input:focus {
    outline-width: 0;
}
.dark .search-term-container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px black inset;
    -webkit-text-fill-color: #ccc;
}
.search-term-container {
    border: 1px solid #dfe1e5;
    padding: 14px;
    margin-left: 30px;
    font-size: 16px;
    /*flex: 1;*/
    width: 424px;
    border-radius: 24px;
}
.dark .search-term-container {
    border: none;
}
.search-term-container input {
    width: calc(100% - 20px);
}
.input-container {
    width: calc(100% - 40px);
    display: inline-block;
}
.cmd-search {
    margin-right: 12px;
}
#engines {
    column-width: 18em;
    /*column-count: 3;*/
    width: calc(100% - 96px);
    padding: 0 24px 0 48px;
}
.item {
    break-inside: avoid;
    margin-bottom: 20px;
    padding: 6px;
}
.category-title {
    font-size: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    opacity: .8;
}
.engine,
.category {
    font-size: 16px;
    line-height: 1.85;
    width: 100%;
}
.column-break {
    break-before: column;
}
.icon {
    margin-right: 5px;
    width: 16px;
}
#toggleDark {
    margin: 0 20px;
}
.checkbox-label {
    margin: 0 20px 0 0;
}
.default {
    text-decoration: underline;
}
.main-content {
    display: flex;
}
.recent-container {
    padding: 20px 0;
}
.recent {
    margin-left: 24px;
    line-height: 1.4;
    height: 70px;
    overflow-y: auto;
}
.recent > div {
    cursor: pointer;
}
.recent > div:hover {
    color: black;
    font-weight: bold;
}
.dark .recent > div:hover {
    color: aqua;
}
help-tour {
    position: absolute;
}
#tourOverlay {
    display: none;
}
