#middle {
    display: none;
}
#categories {
    margin-left: 24px;
}
.cmd-menu {
    margin-left: 24px;
}
.transport {
    line-height: 1.8;
}
#btnImportData {
    display: none;
}
.controls {
    display: block;
    visibility: hidden;
    position: absolute;
    background-color: #dfe1e5;
    padding: 2px;
    box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.24);
    border: 1px solid #999999;
    border-radius: 6px;
    margin-left: 3px;
    cursor: default;
    z-index: 1;
}
.controls .closer {
    padding: 0 10px;
    opacity: .7;
    position: absolute;
    right: 0;
    top: 0;
}
.controls .closer:hover {
    background-color: black;
}
.controls .label {
    display: inline-block;
    width: 160px;
}
.dark .controls {
    background-color: #333;
}
.controls .fa:hover,
.controls .cmd:hover {
    background-color: #ccf;
}
.controls .fa:before {
    padding: 8px;
}
.dark .controls .fa:hover,
.dark .controls .cmd:hover {
    background-color: black;
}
.item.dragover {
    border-top: 1px red solid;
}
.engine.dragover {
    border-top: 1px green solid;
}
.category.opened .controls,
.engine.opened .controls {
    visibility: visible;
}
.action {
    cursor: pointer;
}
.selected {
    text-decoration: underline;
    font-weight: bold;
}
.default {
    text-decoration: underline;
}
help-tour {
    position: absolute;
}
#tourOverlay {
    display: none;
}
[disabled=true] {
    opacity: .1;
}
#engines .check-visible {
    visibility: hidden;
}
#engines.editable .check-visible {
    visibility: visible;
}

