#middle {
    display: none;
}
#categories {
    margin-left: 24px;
}
.cmd-menu {
    margin-left: 24px;
}
.transport {
    line-height: 1.8;
}
#btnImportData {
    display: none;
}
.controls {
    display: none;
    text-align: right;
    position: absolute;
    background-color: #dfe1e5;
    padding: 2px;
    box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.24);
    border: 1px solid #999999;
    border-radius: 6px;
    margin-left: 3px;
    cursor: default;
}
.dark .controls {
    background-color: #333;
}
.controls .fa:hover {
    background-color: #ccf;
}
.controls .fa:before {
    padding: 8px;
}
.dark .controls .fa:hover {
    background-color: black;
}
.category:hover .controls,
.engine:hover .controls {
    display: inline-flex;
}
.action {
    cursor: pointer;
}
.selected {
    text-decoration: underline;
    font-weight: bold;
}
.default {
    text-decoration: underline;
}
help-tour {
    position: absolute;
}
#tourOverlay {
    display: none;
}
[disabled=true] {
    opacity: .1;
}
