.dialog {
    display: none;
    position: fixed;
    /*background-color: #dfe1e5;*/
    /*color: #222222;*/
    background-color: inherit;
    padding: 14px;
    border: 1px solid #999;
    border-top: none;
    border-radius: 0 0 6px 6px;
}
#dialogBackground {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.label {
    width: 90px;
    display: inline-block;
}
.dialog-input {
    width: 230px;
}
.dialog select {
    width: 238px;
}
.cmds {
    margin-top: 12px;
    text-align: right;
}
.dialog-header {
    font-size: 20px;
    text-align: center;
    padding-bottom: 6px;
}
